python-dotenv #used to call environment variables
pandas
numpy
pymongo
certifi
scikit-learn
pyaml
mlflow
dill
pymongo[srv]==3.6

#-e . # used to trigger the setup.py file and creates entire project as a package


